{% load staticfiles i18n wiki_tags %}

<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Language" value="en" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="coronavirus wiki">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Urs Lerch">

    <title>Coronavirus Wiki</title>

    <link rel="apple-touch-icon" href="{% static 'img/favicon.ico' %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css" media="all">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="{% static 'wiki.js' %}"></script>

    <!-- Divio Cloud -->
    {{ ALDRYN_SNAKE.render_head }}

  </head>

  <body>
    <header>
      <a href="https://www.vfp-apsi.ch/" target="_blank"><img src="{% static 'VFP-APSI.svg' %}" width=301 height=44 alt="VFP APSI"></a>
      <span>COVID-19 Wiki</span>
    </header>

    {% block content %}
      <!-- content comes here -->
    {% endblock %}

    <footer>
      This site is an initiative by <a href="https://www.vfp-apsi.ch/" target="_blank">VFP/APSI</a>,
      designed by <a href="https://www.linkedin.com/in/urs-lerch-91bba356/" target="_blank">Urs Lerch</a>.
    </footer>

    <!-- Divio Cloud -->
    {{ ALDRYN_SNAKE.render_tail }}
  </body>

</html>
