{% load staticfiles i18n wiki_tags %}

<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Language" value="en" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="COVID-19 wiki by VFP/APSI">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Urs Lerch">

    <title>COVID-19 Wiki by VFP/APSI</title>

    <link rel="apple-touch-icon" href="{% static 'img/favicon.ico' %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css" media="all">

    <!-- Divio Cloud -->
    {{ ALDRYN_SNAKE.render_head }}

  </head>

  <body>
    <header>
      <a href="https://www.vfp-apsi.ch/" target="_blank"><img src="{% static 'VFP-APSI.svg' %}" width=301 height=44 alt="VFP APSI"></a>
      <span>COVID-19/SARS-Cov-2</span>
    </header>

    {% block content %}
      <!-- content comes here -->
    {% endblock %}

    <footer>
      This site is an initiative by <a href="https://www.vfp-apsi.ch/" target="_blank">VFP/APSI</a>,
      designed by <a href="http://ulerch.net/" target="_blank">Urs Lerch</a>,
      sponsored &amp; hosted in the EU by <a href="http://divio.com/" target="_blank">Divio</a>.
    </footer>

    <script src="https://kit.fontawesome.com/4e8a3df248.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="{% static 'wiki.js' %}"></script>

    <!-- Divio Cloud -->
    {{ ALDRYN_SNAKE.render_tail }}
  </body>

</html>
