{% extends "wiki/base.html" %}
{% load staticfiles i18n wiki_tags %}

{% block content %}
  <h1>Add your Thoughts to {{ title }}</h1>

  <form id="create" class="center" role="form" method="POST" novalidate>
    {% csrf_token %}
    <div class="links newitem">
      <a href="{% url 'wiki:wikiMatrix' %}">back to start page</a>
      <br>
      <a href="{% url 'wiki:wikiList' form.row.value form.column.value %}">back to list</a>
    </div>
    <table>
      {% for field in form.visible_fields %}
        <tr>
          <th>{{ field.label_tag }} *</th>
          <td>
            {{ field }}
        </td>
        </tr>
      {% endfor %}
    </table>
    <button class="create" type="submit">SUBMIT</button>
  </form>
{% endblock content %}
