{% extends "wiki/base.html" %}
{% load staticfiles i18n wiki_tags %}

{% block content %}
  <h1>Peer support thru <span class="red">SOUL</span></h1>
  <p class="soul">(
    <span class="red">S</span>tart,
    <span class="red">O</span>ngoing,
    <span class="red">U</span>nlock,
    <span class="red">L</span>essons learned)
  </p>
  <p><b>Aim:</b> To bundle tips, topics and thoughts on COVID-19 from nurse scientist through peer support.</p>
  <p><b>Contributors:</b> In a first step VFP/APSI members with at least MScN degrees (if successful extend to other groups).</p>
  <p><b>Instruction:</b> Click a box, read the entries and then add your own info if neccessary.</p>
  <p><b>Language:</b> Preferably English (but German and French possible as well)</p>
    <table class="matrix">
      <thead>
        <tr>
          <th width="20%"> </td>
          {% for col in cols %}
            <th class="center" width="20%">{{ col.label }}</td>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row in rows %}
        <tr>
          <td>{{ row.label }}</td>
          {% for col in cols %}
            <td class="detail_link center" row={{ row.pk }} col={{ col.pk }}>
              {% wiki_count row.pk col.pk %} entries
            </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% comment %}
    <ul id="registers" class="nav nav-tabs">
      {% for reg in regs %}
        <li class="nav-item">
          {% if reg.pk == active_reg %}
            <a class="nav-link active" href="#">{{ reg.label }}</a>
          {% else %}
            <a class="nav-link" href="{% url 'wiki:wikiMatrix' reg.pk %}">{{ reg.label }}</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    {% endcomment %}

    <p>
      We guarantee maximum anonymity by not storing any user data that is not explicitly sent to us via the form fields.
      We do not use cookies or third-party services such as Google Analytics.
      All form data is transmitted via encrypted connections.
    </p>
{% endblock content %}
