{% extends "wiki/base.html" %}
{% load staticfiles i18n wiki_tags %}

{% block content %}

    <h1>Existing info in {{ title }}</h1>

    <div class="links">
      <a href="{% url 'wiki:wikiMatrix' %}" class="center">back to overview</a>
    </div>

    <div class="center-wrapper"><button id="createInfo1" row="{{ row }}" col="{{ col }}">add your info</button></div>

    <div class="accordion" id="accordionList">
      {% for entry in entries %}
        <div class="card">
          <div class="card-header" id="heading{{ entry.pk }}">
            <h2 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{ entry.pk }}" aria-expanded="false" aria-controls="collapse{{ entry.pk }}">
                <span class="glyphicon glyphicon-chevron-down"></span>
                {{ entry.title }}
              </button>
            </h2>
          </div>
          <div id="collapse{{ entry.pk }}" class="collapse" aria-labelledby="heading{{ entry.pk }}" data-parent="#accordionList">
            <div class="card-body">
              <p>{{ entry.text | safe | urlize }}</p>
              <p class="timestamp">- {{ entry.timestamp }}, {{ entry.contributor_name }} ({{ entry.contributor_email }})</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    {% if entries %}
      <div class="center-wrapper"><button id="createInfo2" row="{{ row }}" col="{{ col }}">add your info</button></div>
    {% endif %}

{% endblock content %}
