{% extends "wiki/base.html" %}
{% load staticfiles i18n wiki_tags %}

{% block content %}

    <h1>Read tips, topics and thoughts in {{ title }}</h1>

    <div class="links">
      <a href="{% url 'wiki:wikiMatrix' %}" class="center">back to overview</a>
    </div>

    {% for entry in entries %}
      <h3>{{ entry.title }}</h3>
      <p>{{ entry.text | safe }}</p>
    {% endfor %}

    <button id="createEntry" row="{{ row }}" col="{{ col }}">add your own thoughts</button>

{% endblock content %}
