.red {
  color: red;
}

.center {
  text-align: center;
}

.detail_link {
  cursor: pointer;
}

body {
  margin: 10px 5%;
}

header {
  margin: 20px 0;
}

header span {
  float: right;
  height: 44px;
  line-height: 44px;
  font-size: 44px;
  color: #72B5C8;
}

footer {
  margin-top: 30px;
  text-align: center;
}

h1 {
  font-size: 32px;
  text-align: center;
  margin: 35px 0 30px 0;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 20px;
}

p {
  margin: 3px 0 0 0 ;
}

div.center-wrapper {
  width: 100%;
  text-align: center;
}

div.links {
  width: 100%;
  text-align: center;
  margin: -10px 0 30px 0;
}

div.tooltip.bs-tooltip-top {
  margin-bottom: 10px;
}

div.tooltip.bs-tooltip-right {
  margin-left: 10px;
}

div.tooltip.bs-tooltip-bottom {
  margin-left: 10px;
}

div.tooltip.bs-tooltip-left {
  margin-left: 10px;
}

div.tooltip.show {
  background-color: #FFFFFF;
  opacity: 1;
}

div.tooltip-inner {
  padding: 10px;
  color: #000000;
  background-color: rgb(114, 181, 200, 0.125);
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bs-tooltip-top > .arrow::before, .bs-popover-auto[x-placement^="top"] > .arrow::before {
  border-top-color: #FFFFFF;
}

.bs-tooltip-right .arrow::before, .bs-tooltip-auto[x-placement^="right"] .arrow::before {
  border-right-color: #FFFFFF;
}

.bs-tooltip-bottom .arrow::before, .bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
  border-bottom-color: #FFFFFF;
}

.bs-tooltip-left .arrow::before, .bs-tooltip-auto[x-placement^="left"] .arrow::before {
  border-left-color: #FFFFFF;
}

a {
  color: #72B5C8;
}
p.soul {

  margin: -30px 0 30px 0;
  width: 100%;
  text-align: center;
}

table.matrix {
  margin: 0 0 20px 0;
  width: 100%;
}

table.matrix td, table.matrix th {
  border: 1px solid;
  padding: 10px;
}

table.matrix thead tr {
  border-bottom: 2px solid;
}

table.matrix td:first-child,table.matrix th:first-child {
  border-right: 2px solid
}

.first_letter_red::first-letter {
  color: red;
}

#registers {
  margin: 30px 0 3px 0;
}

#registers a {
  color: #000000;
}

#registers a.active {
  font-weight: bold;
}

.card {
  margin-bottom: 5px;
}

#accordion-instruction .card {
  border: none;
}

.card-header {
  width: 100%;
  background-color: rgb(114, 181, 200, 0.25);
}

#heading-instruction {
  background-color: transparent;
  border-top: none;
}

#heading-instruction button {
  font-size: 1.5em;
  color: #72B5C8;
  text-align: center;
}

.card-header {
  padding: 0;
}

.card-header i.icon {
  margin: 0 5px 0 0;
  color: rgba(0, 0, 0, 0.5)
}

#heading-instruction i.icon {
  margin: 0 0 0 5px;
}

.card-header button.btn-link {
  width: 100%;
  color: #000000;
  text-decoration: none !important;
  text-align: left;
}

.card-body {
  width: 100%;
  margin-top: 15px;
  padding: 0 12px;
}

.card-body p.timestamp {
  margin: 10px 0 20px 0;
  font-size: 75%;
  font-weight: 600;
}

#createInfo1 {
  margin-bottom: 30px;
  padding: 10px 30px;
}

#createInfo2 {
  margin-top: 30px;
  padding: 10px 30px;
}

#create table {
  width: 100%;
}

#create table th {
  vertical-align: top;
  padding-right: 20px;
  width: 100px;
}

#create table td.anonymity {
  padding: 0 0 10px 0;
  font-size: 80%;
  text-align: left;
}

#create input.is-valid, #create textarea.is-valid {
  border-color: green;
}

#create input.is-invalid, #create textarea.is-invalid {
  border-color: red;
}

#create .help_text {
  margin: -10px 0 10px 0;
  font-size: 80%;
  text-align: left;
}

#id_title, #id_text, #id_name, #id_email {
  width: 100%;
  margin-bottom: 10px;
}

#create button {
  margin-top: 10px;
  padding: 10px 30px;
}
