.center {
  text-align: center;
}

.detail_link {
  cursor: pointer;
}

body {
  margin: 10px 5%;
}

h1 {
  margin: 20px 0;
}

table {
  margin: 20px 0;
  width: 100%;
}

table td, table th {
  border: 1px solid;
  padding: 10px;
}

table thead th::first-letter {
  color: red;
  font-weight: 900;
}

button.entryAdd {
  margin-top: 50px;
}
