.red {
  color: red;
}

.center {
  text-align: center;
}

.detail_link {
  cursor: pointer;
}

a.back {
  font-size: 14px;
  margin-bottom: 30px;
}

body {
  margin: 10px 5%;
}

header {
  margin: 30px 0 50px 0;
}

header span {
  float: right;
  height: 44px;
  line-height: 44px;
  font-size: 44px;
  color: #72B5C8;
}

footer {
  margin-top: 50px;
  text-align: center;
}

a {
  color: #72B5C8;
}

h1 {
  text-align: center;
  margin: 20px 0;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 20px;
}

h1.soul {
  margin-bottom: 50px;
}

div.links {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

table.matrix {
  margin: 20px 0;
  width: 100%;
}

table.matrix td, table.matrix th {
  border: 1px solid;
  padding: 10px;
}

table.matrix thead tr {
  border-bottom: 2px solid;
}

table.matrix td:first-child,table.matrix th:first-child {
  border-right: 2px solid
}

table.matrix thead th::first-letter {
  color: red;
  font-weight: 900;
}

button.entryAdd {
  margin-top: 50px;
}

#create table {
  width: 100%;
}

#create table tr {
  visibility: hidden;
}

#create table th {
  vertical-align: top;
  padding-right: 20px;
}

#id_title, #id_text, #id_name, #id_email {
  width: 100%;
  margin-bottom: 15px;
}

#create button {
  margin-top: 15px;
  padding: 10px 30px;
}
